<h1>Searches#search</h1>
<p>Find me in app/views/searches/search.html.erb</p>
<div class="container">
  <div class="col-xs-12">
    <h2>Users search for '<%= @keyword %>'</h2>
    <% if @records.empty? %>
      検索したユーザーは見つかりません
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Profile</th>
          </tr>
        </thead>
        <tbody>
          <% @records.each do |user| %>
            <tr>
              <td>
                <%= link_to gravatar_for(user, size: 50), current_user %>
              </td>
              <td>
                <%= user.name %>
              </td>
              <td>
                <%= user.profile %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
